@import 'libs/vars';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/reset';
@import 'libs/default';

p {
  text-align: justify;
  text-justify: inter-word;
}


video {
  max-width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.page-container {
  height: 100vh;
  width: 100%;
  max-width: 42em;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 auto;
}    

.bg-shadow {
  box-shadow: 0 4px 8px 0 rgba(map-get($palette, "shadow"), 0.2), 0 6px 20px 0 rgba(map-get($palette, "shadow"), 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(map-get($palette, "shadow"), 0.2), 0 6px 20px 0 rgba(map-get($palette, "shadow"), 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(map-get($palette, "shadow"), 0.2), 0 6px 20px 0 rgba(map-get($palette, "shadow"), 0.19);
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 2.5em 0 3.5em 0;
}

nav ul {
  display: flex;
  gap: 3.5em;
  /* justify-content: space-around; */

  li {
    padding-left: 0;
  }

  li::before {
    content: none;
  }
}

nav li a {
  display: inline;
  font-size: 1.1em;
  color: rgba(map-get($palette, "text"), 0.63);
  text-transform: uppercase;
  text-decoration: none;
}

nav li a:hover {
  cursor: pointer;
  border-bottom: 0.1rem solid rgba(map-get($palette, "text"), 0.63) !important;
}

nav li a.active {
  color:#28221E;
  border-bottom: 0.1rem solid rgba(map-get($palette, "text"), 1.0);
  font-size: 1.1em;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

[data-tab-content] h1{
  margin: auto;
}

#home .brand-logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 350px;
  filter: drop-shadow(2px 2px 1px rgba(map-get($palette, "shadow"), 0.8));
}

#home h1 {
  font-family: 'Great Vibes', cursive;
  position: relative;
  bottom: 33.5px;
  letter-spacing: normal;
  line-height: normal;
}

#trademark {
  font-size: 0.85em;
  position: relative;
  bottom: 33.5px;
  padding-left: 22em;
}

#trademark a {
  font-weight: bold;
}

ul.packages {
  li {
    font-size: 1.2em;
    padding-top: 0.6em;
  }
}
 
.video-container {
  max-width: 84%;
  margin: 0 auto;
  * {
    vertical-align: bottom;
  }
}

.profile {
  opacity: 0;
  display: flex;
  margin: 1.5em 0;
  padding: 0 4em;
  animation: fade-in 1s ease-out forwards;
  animation-delay: 0.8s;

  &.right {
    flex-direction: row-reverse;
  }

  .profile-picture {
    border-radius: 50%;
    border: 1px solid rgba(map-get($palette, "secondary"), 0.1);
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .profile-detail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;

    h4 {
      margin-bottom: 0.5em;
    }
  }

  li {
    padding-left: 0;
    font-size: 1.1em;
  }

  li::before {
    content: none;
  }
}

.decoration {
  opacity: 0%;
  position: fixed;
  width: 400px;
  max-width: 50%;
  z-index: -1;
  animation-delay: 0.6s!important;
  filter: drop-shadow(1px 1px 3px rgba(map-get($palette, "shadow"), .1));
}

.decoration.top-left {
  left: -15%;
  top: -15%;
}

.decoration.bottom-right {
  right: -10%;
  bottom: -20%;
  animation-duration: 5s!important;
}

.decoration .flower {
  fill: map-get($palette, "primary");
}

.center {
  text-align: center;
}

footer {
  margin-top: auto;
  padding: 1em 0;
  width: 100%;
}

// /* ANIMATIONS */

/* Not Animated Elements */
.visible {
  opacity: 1;
}

/* Intro Animations for All Elements*/
.intro {
  opacity: 0;
  pointer-events: none;
  animation: intro 3s ease-out forwards;
  animation-delay: 1.2s;
}    

@keyframes intro {
  0% {
      opacity: 0;
  }    
  5% {
      pointer-events: all;
  }
  100% {
      opacity: 1;
      pointer-events: all;
  }    
}    

/* Fade-in Animation */
.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Pulse Animations for Decorations */
.pulse {
  animation: pulse 4.5s ease-in-out infinite alternate !important;
}

@keyframes pulse {
  from {
      opacity: 0%;
  }
  to {
      opacity: 80%;
  }
}

.cryptedmail:after {
  content: attr(data-a) "@" attr(data-b) "." attr(data-c); 
}

.cryptedphone:after {
  content: "+" attr(data-a) " " attr(data-b) " " attr(data-c); 
}

.imgmail {
  display: none;
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
  nav {
      margin: 1em 0 4em 0;
  }

  nav ul {
      flex-direction: column;
      gap: 1em;
  }
  
  nav li {
      font-size: 1em;
  }
  
  nav li.active {
      font-size: 1.1em;
  }
  
  #home .brand-logo {
      max-width: 80%;
  }
  
  #home h1 {
      font-size: 2em;
  }

  #trademark {
      padding-left: 10em;
  }

  #about .profile {
      flex-direction: column!important;
      padding: 0;
      align-items: center;
      gap: 1.2em;
      margin-bottom: 3em!important;
  }

  #about .profile-picture {
      width: 250px;
      height: auto;
      aspect-ratio: 1;
      max-width: 80%;
  }

  #about .profile-detail {
      padding: 0;
      gap: 0.5em;
  }
}