// Home 
div(id=`${navs.home.title.toLowerCase()}` data-tab-content).fade-in.center
  .brand-logo.visible
    img(src="/img/logo.svg" alt="Logo")
  h1.visible=company
  #trademark.intro.center by #[a(href="https://mogin.net/" target="_blank" rel="noopener noreferrer") Mogin Group]
  .center Denpasar, Bali
  hr