// Packages
div(id=`${navs.packages.title.toLowerCase()}` data-tab-content).fade-in
  p Don’t settle an ordinary vacation. Escape from your daily life and indulge in the ultimate luxury and extraordinary experience with our private guides.
  p Our tours offer you everything you need from a truly indulgent vacation, from luxurious amenities to personalized service. 
  p Experience places in Bali with our finest small group of exclusive tours. We bring you to the finest end to end destinations beyond your expectations. Combination of luxury cars, helicopter trips and yachts are just incredibly creme de la creme!
  p Whether you’re looking for a weekend getaway or long vacations, our team can help you plan your perfect trips.
  p Contact us to book your next unforgettable adventure. 
  ul.packages
    li
      a(href="#") Healing Luxe
    li
      a(href="#") Honeymoon Luxe
    li
      a(href="#") Penida Luxe
    li
      a(href="#") Wedding Luxe
  hr