-
  var navs = {
    home: { href: "home", order: 1, title: "Home"},
    packages: { href: "packages", order: 2, title: "Packages"},
    gallery: { href: "gallery", order: 3, title: "Gallery"},
    about: { href: "about", order: 4, title: "About"},
  }
