a(href="#" class="cryptedphone" data-a="62" data-b="851" data-c="61578921" onclick="window.location.href = 'https://wa.me/' + this.dataset.a + this.dataset.b + this.dataset.c; return false;")
img.imgmail(src="/img/phone.png" alt="Phone")