-
  var profiles = [
    { name: "Christina Hann Trefzger", image: "/img/profile-1.jpg", skills: ["CEO", "Owner", "Marketing"]},
    { name: "Natanael Zheng", image: "/img/profile-2.jpg", skills: ["Sales", "Public Relation"]},
    { name: "Ezra Better", image: "/img/profile-3.jpg", skills: ["Operations", "Location Research"]},
  ]
