extends /layout.pug
block title
  - title = "Design"

block content 
  div
    header 
      h2= `${title}`
    h3 Typography
    div(style="margin: 1em 0")
      h1 H1 Header
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      h2 H2 Header
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      h3 H3 Header
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      h4 H4 Header
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      h5 H5 Header
        span Subtitle
      p 
        | Lorem ipsum <b>bold</b> sit <i>italic</i>, consectetur adipiscing x<sup>2</sup> elit. Suspendisse congue y<sub>1</sub> enim vitae <del>delete</del> mollis dignissim vitae ut sapien. Etiam eu sapien <u>underline</u> eleifend dui blandit porta eget sed dolor. Sed iaculis nisl nunc, vel euismod <a href="#">link</a> odio pellentesque ut.
      H6 Blockquote
      blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      H6 Code
      pre
        code
          | if (true) {
          |   #{"<lorem></lorem>\ntess"}
          |   var t = 1;
          | }
      H6 Link
      a(href="https://google.com") www.google.com
      H6 Unordered List
      ul 
        li Level 1.1
        li Level 1.2
          ul
            li Level 2.1
            li Level 2.2
              ul
                li Level 3.1
                  ul
                    li Level 4.1
                    li Level 4.2
                li Level 3.2
      H6 Ordered List
      ol 
        li Level 1.1
        li Level 1.2
          ol
            li Level 2.1
            li Level 2.2
              ol
                li Level 3.1
                li Level 3.2

    h3 Tables
    div(style="margin: 1em 0")
      table
        caption Default
        thead
          tr 
            th Header 1
            th Header 2
            th Header 3
        tbody
          tr 
            td Entry 1
            td Entry 2
            td Entry 3
          tr 
            td Entry 1
            td Entry 2
            td Entry 3
        tfoot 
          tr 
            td Foot 1
            td Foot 2
            td Foot 3

    h3 Colors 
    div(style="margin: 1em 0").demo-colors
      div.color.primary.background-color.text-contrast
        div Primary
      div.color.secondary.background-color.text-contrast
        div Secondary
      div.color.background.background-color.text-contrast
        div Background
    h3 Others
    div(style="margin: 1em 0").demo-colors
      div.color.text.background-color.text-contrast
        div Text
      div.color.coding.background-color.text-contrast
        div Coding
      div.color.shadow.background-color.text-contrast
        div Shadow
      div.color.white.background-color.text-contrast
        div White
      div.color.gray.background-color.text-contrast
        div Gray
      div.color.black.background-color.text-contrast
        div Black